
body {
  background-color: #DADED4;
  color: #3C403D;
}

.App {
  text-align: center;
}

.default-center-lst {
  list-style: none;
  justify-content: center;
  margin: 1vh;
  padding: 1vh;
  min-height: 70vh;
}


.completed {
  text-decoration: line-through;
}


/* INPUT AND PLACEHOLDER STYLING */

input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: #39603D;
  background-color: #DADED4;
  border-bottom: 2px solid #4D774E;
  transition-delay: 2s;
}

input[type=text]:focus {
  outline: none;
  transition-delay: 2s;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #39603D;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #39603D;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #39603D;
}


/*  NOTE LIST AND SINGLE NOTE CSS */

.note-lst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1vh;
  border: 1px solid #A3BCB6;
  border-radius: 10px;
}

.note-lst > p {
  margin: 1px;
  padding: 1vh;
}

.note-lst > p:nth-child(2) {
  font-size: 8px;
}